<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A1Rentals.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="A1Rentals.DAL.Properties.Settings.cnn" connectionString="server=(local);database=A1Rentals;integrated security=sspi" />
    </connectionStrings>
    <userSettings>
        <A1Rentals.DAL.Properties.Settings>
            <setting name="provider" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
        </A1Rentals.DAL.Properties.Settings>
    </userSettings>
</configuration>