@nav-pills-active-link-hover-bg: white;
@nav-pills-active-link-hover-color:black;
html ,body,.container-fluid{
	height:100%;
	font-family: 'Varela Round' sans-serif;
	color:white;
	text-shadow: 2px 2px 5px white;
	line-height: 1.75em;
}
/* .h100{
	height:100%;
}
.h10{
	height:10%;
}
.h80{
	height:80%;
}
.h33{
	height:33%;
} */
.img-solar{
	background-image: url("hero.jpg");
}
.img-earth{
	background-image: url("earth.jpg");
}
.img-jupiter{
	background-image: url("jupiter.jpg");
}
.img-mars{
	background-image: url("mars.jpg");
}
.paralax{
	min-height:100%;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat:  repeat-y;
  	background-size: cover;
}
.blue-box{
	background:  rgb(9, 80, 105);
	opacity: 0.8;
	box-shadow: 0px 0px 5px 5px rgb(9, 80, 105);
	margin-top: 10%;
	margin-bottom: 10%;	
}
/* .nopadding {
   padding: 0 !important;
   margin: 0 !important;
} */
.blue-colour{
	background:  rgb(9, 80, 105);
}
.media-object{
	max-width: 180px;
}
a:link{
	color:white;
}
a:active{
	color:white;
}
.panel-border{
	border: solid thin white;
}
/* .margin25{
	 margin: 25px !important;
}
.img-moons{
	max-height:100px;
} */
.thumbnail{
	font-size: x-small;	
	color: white;
	text-shadow: 0px 0px 4px white;
	background:  rgb(9, 80, 105);
	border:none;
}
.nav{
	padding-right: 25px;
}
.blue-nav a,.blue-nav .active a{
	background:  rgb(9, 80, 105);
	box-shadow: 0px 0px 1px 1px rgb(9, 80, 105);
	color:white;
	margin: 5px;
}
.nav a:hover {
  background: white !important;
  color:black !important;
}

